<div class="top-bar ">
    <div class="top-bar-left">
        <ul class="menu">
            <li>
                <a class="navbar-item" href="https://zwidny.github.io/">痕迹</a>

            </li>
            {% for item in site.data.navigation %}
            <li><a class="navbar-item {% if page.url == item.link %}is-active{% endif %}" href="{{item.link}}">
                {{item.name}}
            </a></li>
            {% endfor %}
        </ul>
        {% include github-forkme.html %}
    </div>
</div>

